<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>照片墙</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>

    <div class="wrapper init">
        <ul class="content">
            <li class="item">
                <div class="inner">
                    <div class="bg"></div>
                    <div class="title"><h2>photos1</h2></div>
                    <div class="disc">
                        <div class="header">time1</div>
                        <div class="close"></div>
                        </div>
                </div>
            </li>
            <li class="item">
                <div class="inner">
                    <div class="bg"></div>
                    <div class="title"><h2>photos2</h2></div>
                    <div class="disc">
                        <div class="header">time2</div>
                        <div class="close"></div>
                    </div>
                </div>
                
            </li>
            <li class="item">
                <div class="inner">
                    <div class="bg"></div>
                    <div class="title"><h2>photos3</h2></div>
                    <div class="disc">
                        <div class="header">time3</div>
                        <div class="close"></div>
                    </div>
                </div>
            </li>
            <li class="item">
                <div class="inner">
                    <div class="bg"></div>
                    <div class="title"><h2>photos4</h2></div>
                    <div class="disc">
                        <div class="header">time4</div>
                        <div class="close"></div>
                    </div>
                </div>
                
            </li>
            <li class="item">
                <div class="inner">
                    <div class="bg"></div>
                    <div class="title"><h2>photos5</h2></div>
                    <div class="disc">
                        <div class="header">time5</div>
                        <div class="close"></div>
                    </div>
                </div>
                
            </li>
            <li class="item">
                <div class="inner">
                    <div class="bg"></div>
                    <div class="title"><h2>photos6</h2></div>
                    <div class="disc">
                        <div class="header">time6</div>
                        <div class="close"></div>
                    </div>
                </div>
                
            </li>

        </ul>

    </div>
    <script src="./js/jquery.js"></script>
    <script src="./js/index.js"></script>
</body>


</html>
